<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Forma correcta de incluir una parte del codigo -->
    <%- include('partials/header') %>
  </head>
  <body>
    <h1>404 no found</h1>
  </body>
</html>
